<footer class="bg-dark shadow d-flex gap-3 justify-content-center py-3 px-4 w-100">
	<a href={{ path('app_room_city', { city: 'paris' }) }} class="text-white text-decoration-none">Paris</a>
	<a href={{ path('app_room_city', { city: 'las vegas' }) }} class="text-white text-decoration-none">Las Vegas</a>
	<a href={{ path('app_room_city', { city: 'kyoto' }) }} class="text-white text-decoration-none">Kyoto</a>
	<a href={{ path('app_room_city', { city: 'sydney' }) }} class="text-white text-decoration-none">Sydney</a>
	<a href={{ path('app_room_city', { city: 'hong kong' }) }} class="text-white text-decoration-none">Hong Kong</a>
</footer>
